language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
install:
  - "pip install . --use-mirrors"
  - "pip install six --use-mirrors"
  - "pip install mock --use-mirrors"
script: nosetests tests/
